@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Cinzel:wght@500&display=swap');

/* ------- Universal Selectors ------- */
:root {
  --main-white-color: #f2f2f2;
  --main-black-color: black;
  --main-dark-color: #1a1c24;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font: 16px/1.5 "Bakbak One", cursive;
  display:flex;
  flex-direction: column;
}

nav ul li a:hover {
  background-color: var(--main-dark-color);
}

h1 {
  font-size: xx-large;
}

/*------- CONTAINER -------*/
.wrapper {
  display: inline-block;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 10vh;
}

.wrapper:hover .overlay{
  bottom: 0;
  height: 100%;
}

/*------- HEADER -------*/
.page-header {
   background: rgb(81, 105, 116);
   padding: 35px;
   color: var(--main-white-color);
  
}
.page-header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.page-header ul {
  display: flex;
  order: 1;
  width: 100%;
  margin-top: 15px;
}

.page-header ul li {
  padding-right: 15px;
}

.page-header  {
  font-family: inherit;
  font-size: 1.2rem;
  padding: 5px 18px;
  border: 1px solid;
  border-radius: 5px;
}

.logo {
  background-color: var(--main-dark-color);
}

/*------- MAIN -------*/
.image {
  position: relative;
  width: 400px;
  padding: 30px;
  justify-content: space-evenly;
}

.image__img {
  display: flexbox;
  width: 100%;
}

.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--main-white-color);
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
  backdrop-filter: blur(5px);
}


.image__overlay:hover {
  opacity: 1;
}

.image__title {
  font-size: 2em;
  font-weight: bold;
}

.image__description {
  font-size: 1.25em;
  margin-top: 0.25em;
}
.container-1, .container-2, .container-3 {
  display: inline-flexbox;
  margin-left: 30px;
  justify-content: space-evenly;
}


.img-section {
    display: inline-block;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
    size: 100%;
}

.p-section {
  display: inline-block;
  margin: 30px;
}

.avatar {
  height: 280px;
  border-radius: 50%;
  float: center;
  padding-top: 30px;
  margin: 30px;
}



.section-1 {
	background:var(--main-white-color);
}

/*------- FOOTER -------*/
.page-footer {
  display: flex;
  flex-direction: column;
  background: var(--main-white-color);
  justify-content: space-evenly;
}

.page-footer ul {
  display: flex;
  font-size: 2.5rem;
  margin-bottom: 5px;
}

/* -------- MEDIA QUERY --------*/
@media screen and (min-width: 550px) {
  .page-header ul {
    width: auto;
    margin-top: 0;
    box-align: center;
  }

  .page-header {
    order: 1;
  }

  .page-footer {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
  }

  .page-footer ul {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  body {
    font-size: 18px;
  }

  .page-main {
    padding-left: 100px;
  }
}

